<div class="container" style="background-color:#f2f2f2;margin-top:-20px;">
    <div class="account_title">
        <p>마이페이지</p>
    </div>
    <div class="account_top">
       <div class="account_image">
           <%=image_tag current_user.image %>
       </div>
       <div class="account_name">
           <p><%=current_user.name%></p>
           <p><small><%=current_user.email%></small></p>
       </div>
    </div>
    <div class="account_middle">
        <li style="border-bottom:1px solid #f2f2f2">
        <form enctype="multipart/form-data" action="/home/profile_pic_up" accept-charset="UTF-8" method="post">
        <button type="button" id="btn-upload">프로필 사진 변경</button>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input style="display:none;"type="file" id="file" name="picpic" onchange="javascript:this.form.submit();"/>
        <input type="hidden" name="id" id="id" value="<%= current_user.id %>">
        </form>
        </li>
        <li style="padding-top:7px;padding-left:10px; display:inline-block; height:80px;" >닉네임 변경
        <form enctype="multipart/form-data" action="/home/name_edit" accept-charset="UTF-8" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="text" name="u_name" class="name_edit" value="<%=current_user.name%>">
        <input type="hidden" name="id" id="id" value="<%=current_user.id %>">
        <button type="submit" class="team_qna_answer_btn_btn btn_write_one_story">변경</button>
        </form>
        </li>
    </div>
    <div class="account_title">
        <p>나의 포스트</p>
    </div>
    <div style="background-color:white;margin-top:20px;">
    <form enctype="multipart/form-data" action="/home/post_up" accept-charset="UTF-8" method="post">
    <div class="post_w_up" style="padding-top:5px;">
        <div class="post_w_title"><p>새 포스트 작성</p></div>
        <div class="post_w_complete"><button type="submit" style="border:none; margin-left:10px;background-color:white;font-size:12px;"><span class="glyphicon glyphicon-ok"></span> 작성완료</button></div>
    </div>
    <div class="post_pic_up">
       <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <label for="ex_filename"><span class="glyphicon glyphicon-picture"></span></label>
        <input type="file" id="ex_filename" class="upload-hidden" name="ex_filename"> 
        <input class="upload-name" value="파일선택" disabled="disabled" placeholder="파일선택">
        <input type="hidden" name="u_id" value="<%=current_user.id%>">
    </div>
    <textarea class="post_w_area" style="height:200px;" name="post_text" placeholder="회원님의 생각을 작성해주세요" required></textarea>
    </form>
    </div>
    <script>
    $(document).ready(function(){
      var fileTarget = $('.post_pic_up .upload-hidden');
      fileTarget.on('change', function(){  // 값이 변경되면
        if(window.FileReader){  // modern browser
          var filename = $(this)[0].files[0].name;
        } 
        else {  // old IE
          var filename = $(this).val().split('/').pop().split('\\').pop();  // 파일명만 추출
        }
        
        // 추출한 파일명 삽입
        $(this).siblings('.upload-name').val(filename);
      });
    }); 

</script>
    <div class="account_review_all">
        <div class="infinite-table">
          <div class="account_review_view">
          <% if @comments.empty? %>
          <p class="no_post">아직 작성한 포스트가 없습니다.</p>
          <% end %>
          <% @comments.each do |p| %>
            <%=render :partial => '/home/comment', locals: {p: p} %>
          <% end %>
          </div>
          <p class="pagination">
            <%= link_to_next_page(@comments, 'Next Page', :remote => true) %>
          </p>
        </div>
     <div id="spinner"></div>
    </div>
</div>
<script>
    <% @comments.each do |p| %>
    $(document).on("click", '#up<%=p.id%>', function(e){
            post_id = this.value;
            $.ajax({
              method: "GET",
              cache: true,
              url: "/home/post_upvote/" + post_id
            })
            .done(function(){
                    $("#voting_" + post_id).load(location.href + " #voting_" + post_id);
            });
          e.preventDefault();
    });
    
    $(document).on("click", '#down<%=p.id%>', function(e){
            post_id = this.value;
            $.ajax({
              method: "GET",
              cache: true,
              url: "/home/post_downvote/" + post_id
            })
            .done(function(){
                $("#voting_" + post_id).load(location.href + " #voting_" + post_id);
            });
          e.preventDefault();
    });
    <% end %>
    </script>
<style>
    body {
    background-color:#f2f2f2;
    }
</style>
<script type="text/javascript">
$(function () {
$('#btn-upload').click(function (e) {
e.preventDefault();
$('#file').click();
});
});
    
            function changeValue(obj){
    	        alert(obj.value);
            }
</script>
<script>
$(function() {
    $(".btn_write_one_story_write").click(function(){
        oneporeply_id = this.value;
        oneporeply_user_id = $("#oneporeply_user_id_"+oneporeply_id).val();
        oneporeply_content = $("#oneporeply_content_"+oneporeply_id).val();
        oneporeply_name = $("#oneporeply_name_"+oneporeply_id).val();
        // oneporeply_time = Date($.now())
        var dt = new Date();
        var month = dt.getMonth() + 1;
        var oneporeply_time = dt.getFullYear() + "-" + month +  "-" + dt.getDate() + " " + dt.getHours() + ":" + dt.getMinutes();
        $.ajax({
        method: "POST",
        url: "/home/reply_up",
        data: { onestory_content: oneporeply_content,
                onestory_id: oneporeply_id,
                onestory_user_id: oneporeply_user_id,
                onestory_name: oneporeply_name},
        success: function(){
            $("#reply_"+oneporeply_id).append('<div class="team_qna_question">' + '<p class="team_qna_name">' + oneporeply_name + '</p>' + '<p class="team_qna_time">' + oneporeply_time + '</p>' +  '<a href="/home/recomment_destroy/' + oneporeply_id + '" style="text-align:right;display:inline-block;float:right;">' + '댓글 삭제' + '</a>' + '<p class="team_qna_each_content">' + oneporeply_content + '</p>' + '</div>');
            $("#oneporeply_content_"+oneporeply_id).val('');
        },
        // error: function(){
        //     alert("complete error");
        // }
        error:function(request,status,error){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
        })
    });
});

//  $("#reply_"+onestory_id).append('<div class="replyeach">'+ '<div class="replyeach_psa">' + '<img scr="' + oneporeply_psa +'"/>' + '</div>' + '<div class="replyeach_name">' + '<p>' + oneporeply_name + '</p>' + '</div>' + '<div class="replyeach_time">' + '<p>' + oneporeply_time + '</p>' + '</div>' + '<div class="replyeach_content">' + '<p>' + oneporeply_content + '</p>' + '</div>' + '</div>')
// $("#ajaxform_reply_one").submit(function(e)
// {
//     var replyData = $(this).serializeArray();
//     var formURL = $(this).attr("action");
//       onestory_id = this.value;
//       content = $("#content_" + onestory_id).val();
//     $.ajax(
//     {
//         url : formURL,
//         type: "POST",
//         data : replyData,
//         success:function()
//         {

//         },
//         error:function(request,status,error)
//         {
//           //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
//         }
//     });
// });
</script>
<style type="text/css">
#file { display:none; } 
</style>
<script>
    jQuery(function() {
   if ($('.pagination').length) {
     $(window).scroll(function() {
       var url;
       url = $('.pagination a').attr('href');
       if(url && $(window).scrollTop()>$(document).height()-$(window).height()-50)
       {
         $('.pagination').text("Fetching more products...");
         return $.getScript(url);
       }
    });
    return $(window).scroll();
    }
    });
</script>
<script>
   function loaded(){
   var element = document.getElementById('spinner'); // 로딩 요소
   element.parentNode.removeChild(element); // 요소 제거
    }
    // 로딩 이벤트에 등록
    if(window.addEventListener){
          window.addEventListener('load', loaded, false);
        }else{
          window.attachEvent('onload', loaded);
    }
</script>
