<div class="container" style="margin-bottom:50px;">
     <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url(<%= asset_path 'lunch.jpg' %>)"></div>
                <div class="carousel-text">
                    <h1>뭐 먹을지 고민하지 말고~!</h1>
                    <p>SKKUTA에서 찾아봐~</p>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(<%= asset_path 'skku.jpg' %>);"></div>
                <div class="carousel-text">
                    <h1>성균관대 주변 식당 모든 메뉴판은</h1>
                    <p>SKKUTA에 다 있다!</p>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(<%= asset_path 'question.jpg' %>);"></div>
                <div class="carousel-text">
                    <h1>배달 전화부터 뒷풀이 예약까지!</h1>
                    <p>SKKUTA!</p>
                </div>
            </div>
    </div>
       <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
   <div class="searchbox">
        <form action="/home/search_all" method="POST" style="display: inline;">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group" style="margin-left:15px;">
        <input name="tag" type="text" class="form-control search_input" placeholder="ex) 한식, 분위기, 쪽문" >
        <button type="submit" class="btn btn-default btn_search" style="border-radius:0px;display: inline-block; padding:3px 6px 3px 5px"><span class="glyphicon glyphicon-search glyphicon_search_size" aria-hidden="true"></span></button>
        </div>
        </form>
    </div>
   <ul class="nav nav-tabs menu_nav" role="tablist">
    <li role="presentation" class="active account_menubar_i" style="height:50px;"><a href="#menu" aria-controls="menu" role="tab" data-toggle="tab" class="activeTab account_menu" style="font-family:'Noto Sans KR';height:50px;"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> 종류별</a></li>
    <li role="presentation" class="account_menubar_i" style="height:50px;"><a href="#theme" aria-controls="theme" role="tab" data-toggle="tab" class="account_menu" style="font-family:'Noto Sans KR';height:50px;"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 테마별</a></li>
    <li role="presentation" class="account_menubar_i" style="height:50px;"><a href="#location" aria-controls="location" role="tab" data-toggle="tab" class="account_menu" style="font-family:'Noto Sans KR';height:50px;"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 위치별</a></li>
   </ul>
 
 <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="menu">
    <section id="menu">
   
        <a href="/home/list_korea">
        <div class="main_list_spec">
            <h1>한식</h1>
        </div>
        </a>

 
        <a href="/home/list_china">
        <div class="main_list_spec">
            <h1>중식</h1>
        </div>
        </a>
   
   
        <a href="/home/list_japan">
        <div class="main_list_spec">
            <h1>일식</h1>
        </div>
        </a>
   
        <a href="/home/list_india">
        <div class="main_list_spec">
          <h1>인도</h1>
        </div>
        </a>
   
        <a href="/home/list_western">
        <div class="main_list_spec">
            <h1>멕시칸</h1>
        </div>
        </a>
   
        <a href="/home/list_gimbab">
        <div class="main_list_spec">
           <h1>분식</h1>
        </div>
        </a>
   
        <a href="/home/list_pizza">
        <div class="main_list_spec">
            <h1>피자</h1>
        </div>
        </a>
   
        <a href="/home/list_chicken">
        <div class="main_list_spec">
           <h1>치킨</h1>
        </div>
        </a>
   
        <a href="/home/list_2nd">
        <div class="main_list_spec">
           <h1>뒤풀이</h1>
        </div>
        </a>
    
        <a href="/home/list_pasta">
        <div class="main_list_spec">
           <h1>양식</h1>
        </div>
        </a>
        <a href="/home/list_baedal">
        <div class="main_list_spec">
           <h1>배달</h1>
        </div>
        </a>
        <a href="/home/aboutteam">
        <div class="main_list_spec">
           <h1>개발팀</h1>
        </div>
        </a>
    </div>
    </section>
    <div role="tabpanel" class="tab-pane fade in" id="theme">
    <section id="theme">
   
        <a href="/home/list_solo">
        <div class="main_list_spec" style="width:45%;">
           <h1>#혼밥족을_위하여</h1>
        </div>
        </a>
        <a href="/home/list_date">
        <div class="main_list_spec" style="width:45%;">
          <h1>#알콩달콩_데이트</h1>
        </div>
        </a>
        <a href="/home/list_emotion">
        <div class="main_list_spec" style="width:45%;">
          <h1>#분위기_더하기_감성</h1>
        </div>
        </a>
        <a href="/home/list_homebab">
        <div class="main_list_spec" style="width:45%;">
          <h1>#엄마가_해주신_집밥</h1>
        </div>
        </a>
        <a href="/home/list_baedal">
        <div class="main_list_spec" style="width:45%;">
          <h1>#배달시켜먹자</h1>
        </div>
        </a>
        <a href="/home/list_efficient">
        <div class="main_list_spec" style="width:45%;">
          <h1>#가성비_실화냐?</h1>
        </div>
        </a>
        <a href="/home/list_party">
        <div class="main_list_spec" style="width:45%;">
          <h1>#불타는_금요일</h1>
        </div>
        </a>
        <a href="/home/list_world">
        <div class="main_list_spec" style="width:45%;">
          <h1>#먹으면서_세계여행</h1>
        </div>
        </a>
    </div>
    </section>
    <div role="tabpanel" class="tab-pane fade in" id="location">
        <section id="location">
        <a href="/home/list_jung">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">정문</h1>
        </div>
        </a>
        <a href="/home/list_chul">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">철문</h1>
        </div>
        </a>
        <a href="/home/list_zzok">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">쪽문</h1>
        </div>
        </a>
        <a href="/home/list_four">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">사거리</h1>
        </div>
        </a>
        <a href="/home/list_dae">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">대명거리</h1>
        </div>
        </a>
         <a href="/home/list_sonamu">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">소나무길</h1>
        </div>
        </a>
        <a href="/home/list_rotary">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">혜화로터리</h1>
        </div>
        </a>
         <a href="/home/list_maro">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">마로니에</h1>
        </div>
        </a>
     <div style="width:100%; height:60px; margin-top:20px; border-top:1px solid #f2f2f2; float:left; display:inline-block; padding-left:15px;font-family:'Noto Sans KR', sans-serif; position:relative;">
         <h4 style="font-family:'Noto Sans KR';font-weight:800; display:inline-block; float:left;"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 위치 구분 안내 지도</h4>
         <button style="float:left; position:relative; display:inline-block; "type="button" class="btn_write_one_story"  aria-expanded="false" data-toggle="collapse" data-target="#collapse_career" aria-controls="story open">보기</button>
     </div> 
     <div id="collapse_career" class="collapse" aria-expanded="false">
     <div class="menu_pic" style="margin-top:25px;">
        <img src="/assets/segment.jpg"/>
     </div>
     </div>
    <% if user_signed_in? %>
     <% if current_user.email == "admin@naver.com"%>
       
        <a href="/home/write_store">
        <div class="main_list_spec">
            <h1 style="text-align:center;">식당추가</h1>
        </div>
        </a>
        
        <a href="/home/write_ad">
        <div class="main_list_spec">
            <h1 style="text-align:center;">광고추가</h1>
        </div>
        </a>
       
        <a href="/home/admin">
        <div class="main_list_spec">
            <h1 style="text-align:center;">관리자페이지</h1>
        </div>
        </a>
        
    <% end %>
    <% end %>
    <% if user_signed_in? %>
    <div class="col-xs-12">
        <a href="/users/sign_out">
        <div class="main_list_spec">
            <h1 style="text-align:center;"><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></h1>
        </div>
        </a>
    </div>
    <% else %>
    
    <% end %>
    </section>
    </div>
 </div>    
  <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
  </script>