<div class="container" style="margin-bottom:50px;">
    <div class="searchbox">
        <form action="/home/search_all" method="GET" style="display: inline;">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group" style="margin-left:15px;">
        <input style="display:none" type="text" name="fakeusernameremembered"/>
        <input name="tag" type="text" class="form-control search_input" placeholder="키워드로 검색을 할 수 있어요! ex) 정문. 분위기, 데이트, 쪽문, 짜장면" >
        <button type="submit" class="btn btn-default btn_search" style="border-radius:0px;display: inline-block; padding:3px 6px 3px 5px"><span class="glyphicon glyphicon-search glyphicon_search_size" aria-hidden="true"></span></button>
        </div>
        </form>
    </div>
<div class="now_review_list">
        <h3>리뷰</h3>
        <% @review.each do |r| %>
        <div class="each_now_review" onclick="window.location='/home/spec/<%=r.store_id%>';">
            <p class="each_r_text">
            <% if r.r_pic.nil?%>
            <% else%>
            <span class="glyphicon glyphicon-picture" style="color:#faaf3a;"></span>
            <% end %>
             <%=r.r_text%></p>
            <p class="each_r_store"><%=r.store.s_name%></p>
        </div>
        <% end %>
</div>
 <div class="pagination_div"><%= will_paginate @review, :previous_label => t("<<"), :next_label => t(">>")%></div>
</div>