<div class="container" style="padding-top:0;">
    <div class="searchbox">
        <form action="/home/search_all" method="GET" style="display: inline;">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group" style="margin-left:15px;">
        <input style="display:none" type="text" name="fakeusernameremembered"/>
        <input name="tag" type="text" class="form-control search_input" value="<%=@tag%>" placeholder="키워드로 검색해주세요!" >
        <button type="submit" class="btn btn-default btn_search" style="border-radius:0px;display: inline-block; padding:3px 6px 3px 5px"><span class="glyphicon glyphicon-search glyphicon_search_size" aria-hidden="true"></span></button>
        </div>
        </form>
    </div>
<div class="list_container">
  <ul class="list_all">
    <% @stores.each do |s| %>
    <li>
    <div class="col-xs-12 list_all_list">
        <div class="list_each">
            <div class="list_middle"  onclick="window.location='/home/spec/<%=s.id%>';">
                 <h2><%= s.s_name%></br>
                 <small><%=s.s_intro%></small></h2>
            </div>
            <div class="list_middle_middle">
                 <h3>평균 별점 </h3><span class="glyphicon glyphicon-star" aria-hidden="true" style="color:#faaf3a;"></span><% if s.average("speed").nil?%>
                 <h2>0</h2>
                 <% else %>
                 <h2><%= s.average("speed").avg %></h2>
                 <% end %>
            </div>
            <div class="list_middle_down" onclick="window.location='/home/spec/<%=s.id%>';">
                <% if s.s_deliver_ok == 1 %>
                <span class="label label-success">배달가능</span>
                <% else %>
                <span class="label label-primary">매장식사</span>
                <% end %>
                <% if s.s_card_ok == 1 %>
                <span class="label label-success">카드가능</span>
                <% else %>
                <span class="label label-primary">현금</span>
                <% end %>
                
                <% if s.s_divide_ok == 1 %>
                <span class="label label-success">분할결제가능</span>
                <% else %>
                <span class="label label-primary">카드는하나로</span>
                <% end %>
                <span class="label label-info"><%= s.s_site %></span>
            </div>
            <div class="list_middle_down_right">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><span> <%=s.view_count%></span>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-left:10px;"></span><span> <%=s.reviews.count%></span>
            </div>
        </div>
    </div>
    </li>
    <% end %>
  </ul>
</div>
</div>